/* -------------------------------------------------------------------------- */
/*  Provides utility classes based on the custom properties defined in        */
/*  vars.css. Also includes minimal base styles.                              */
/* -------------------------------------------------------------------------- */
@layer utils {
  /* General */
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
  }

  .glass-modal {
    background-color: hsl(from var(--clr-wht) h s l / 0.1);
    backdrop-filter: blur(5px);
    /* For Safari support */
    -webkit-backdrop-filter: blur(5px);
    /* Other styles... */

    /* &::backdrop {
      backdrop-filter: blur(5px);
    } */

    .modal-close {
      color: var(--clr-wht);
    }

    form {
      color: var(--clr-wht);

      input,
      textarea,
      select {
        border: 1px solid var(--clr-wht);
        color: var(--clr-wht);
      }

      button {
        border: 1px solid var(--clr-wht);
        background-color: var(--clr-wht);
      }

      button:hover {
        background-color: transparent;
        color: var(--clr-wht);
        border: 1px solid var(--clr-wht);
      }

      input::placeholder,
      textarea::placeholder {
        color: var(--clr-gry-50) !important;
      }

      label small a {
        color: var(--clr-wht);
        font-weight: bold;
      }

      label small a:hover {
        text-decoration: underline;
      }
    }
  }

  /* Remove all button styling */
  .btn-none {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .spacing > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }

  .input-error {
    color: var(--clr-dng);
    font-size: 0.8rem;
    margin: 0;
  }

  /** ----------  Button utility classes  ---------- */
  .btn {
    --btn-shadow: 0 0 5px 0;
    background: var(--clr-btn);
    border: 1px solid var(--clr-btn-drk);
    padding: 0.5em 2em;
    border-radius: var(--br-sm);

    /* Default hover/focus state */
    &:hover,
    &:focus-visible {
      background-color: var(--clr-btn-drk);
      box-shadow: var(--btn-shadow) var(--clr-btn-drk);
    }

    /* Color variants */
    &.btn-primary {
      background-color: var(--clr-prm);
      border-color: var(--clr-prm-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-prm-drk);
        box-shadow: var(--btn-shadow) var(--clr-prm-drk);
      }
    }

    &.btn-secondary {
      background-color: var(--clr-sec);
      border-color: var(--clr-sec-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-sec-drk);
        box-shadow: var(--btn-shadow) var(--clr-sec-drk);
      }
    }

    &.btn-accent {
      background-color: var(--clr-acc);
      border-color: var(--clr-acc-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-acc-drk);
        box-shadow: var(--btn-shadow) var(--clr-acc-drk);
      }
    }

    &.btn-sxs {
      background-color: var(--clr-sxs);
      border-color: var(--clr-sxs-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-sxs-drk);
        box-shadow: var(--btn-shadow) var(--clr-sxs-drk);
      }
    }

    &.btn-wrn {
      background-color: var(--clr-wrn);
      border-color: var(--clr-wrn-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-wrn-drk);
        box-shadow: var(--btn-shadow) var(--clr-wrn-drk);
      }
    }

    &.btn-dng {
      background-color: var(--clr-dng);
      border-color: var(--clr-dng-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-dng-drk);
        box-shadow: var(--btn-shadow) var(--clr-dng-drk);
      }
    }

    &.btn-inf {
      background-color: var(--clr-inf);
      border-color: var(--clr-inf-drk);
      color: white;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-inf-drk);
        box-shadow: var(--btn-shadow) var(--clr-inf-drk);
      }
    }

    &.btn-transparent {
      background-color: transparent;
      color: var(--clr-prm);
      border-color: var(--clr-prm);

      &:hover,
      &:focus-visible {
        background-color: var(--clr-prm);
        color: white;
        box-shadow: var(--btn-shadow) var(--clr-prm);
      }
    }

    /* Size variants */
    &.btn-large {
      font-size: 1.25rem;
    }

    &.btn-small {
      font-size: 0.75rem;
    }

    /* Shape variants */
    &.btn-pill {
      border-radius: 999999px;
    }
  }

  /** --- Form Notification (error, warning, success) --- */
  .frm-ntf {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--clr-brd);
    border-radius: var(--br-sm);
    margin-top: 0.5rem;
    font-size: 0.9rem;

    &.frm-ntf-error {
      border-color: var(--clr-dng-lht);
      color: var(--clr-dng);
    }

    &.frm-ntf-warning {
      border-color: var(--clr-wrn-lht);
      color: var(--clr-wrn);
    }

    &.frm-ntf-success {
      border-color: var(--clr-sxs-lht);
      color: var(--clr-sxs);
    }

    .frm-ntf-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }
  }
}
