/* -------------------------------------------------------------------------- */
/*  Provides utility classes based on the custom properties defined in        */
/*  vars.css. Also includes minimal base styles.                              */
/* -------------------------------------------------------------------------- */
@layer utils {
  /* General */
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .spacing > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }

  /* -------------------------------------------------------------------------- */
  /*  1. BACKGROUND COLOR UTILITIES                                             */
  /*  Classes to set background colors. e.g., .bkg-prm, .bkg-gry-100    */
  /* -------------------------------------------------------------------------- */

  /* --- Background Base Colors (Primary, Secondary, Accent) ----------------------------- */
  .bkg-prm {
    /* Background Primary */
    background-color: var(--clr-prm);
  }
  .bkg-prm-lht {
    /* Background Primary Light */
    background-color: var(--clr-prm-lht);
  }
  .bkg-prm-drk {
    /* Background Primary Dark */
    background-color: var(--clr-prm-drk);
  }

  .bkg-sec {
    /* Background Secondary */
    background-color: var(--clr-sec);
  }
  .bkg-sec-lht {
    /* Background Secondary Light */
    background-color: var(--clr-sec-lht);
  }
  .bkg-sec-drk {
    /* Background Secondary Dark */
    background-color: var(--clr-sec-drk);
  }

  .bkg-acc {
    /* Background Accent */
    background-color: var(--clr-acc);
  }
  .bkg-acc-lht {
    /* Background Accent Light */
    background-color: var(--clr-acc-lht);
  }
  .bkg-acc-drk {
    /* Background Accent Dark */
    background-color: var(--clr-acc-drk);
  }

  /* --- Background Semantic Colors (Success, Warning, Danger, Info) ---------------------- */
  .bkg-sxs {
    /* Background Success */
    background-color: var(--clr-sxs);
  }
  .bkg-sxs-lht {
    /* Background Success Light */
    background-color: var(--clr-sxs-lht);
  }
  .bkg-sxs-drk {
    /* Background Success Dark */
    background-color: var(--clr-sxs-drk);
  }

  .bkg-wrn {
    /* Background Warning */
    background-color: var(--clr-wrn);
  }
  .bkg-wrn-lht {
    /* Background Warning Light */
    background-color: var(--clr-wrn-lht);
  }
  .bkg-wrn-drk {
    /* Background Warning Dark */
    background-color: var(--clr-wrn-drk);
  }
  .bkg-dng {
    /* Background Danger */
    background-color: var(--clr-dng);
  }
  .bkg-dng-lht {
    /* Background Danger Light */
    background-color: var(--clr-dng-lht);
  }
  .bkg-dng-drk {
    /* Background Danger Dark */
    background-color: var(--clr-dng-drk);
  }
  .bkg-inf {
    /* Background Info */
    background-color: var(--clr-inf);
  }
  .bkg-inf-lht {
    /* Background Info Light */
    background-color: var(--clr-inf-lht);
  }
  .bkg-inf-drk {
    /* Background Info Dark */
    background-color: var(--clr-inf-drk);
  }

  /* --- Background Grayscale Colors ------------------------------------------------------ */

  .bkg-wht {
    /* Background White */
    background-color: var(--clr-wht);
  }
  .bkg-gry-50 {
    /* Background Gray 50 */
    background-color: var(--clr-gry-50);
  }
  .bkg-gry-100 {
    /* Background Gray 100 */
    background-color: var(--clr-gry-100);
  }
  .bkg-gry-200 {
    /* Background Gray 200 */
    background-color: var(--clr-gry-200);
  }
  .bkg-gry-300 {
    /* Background Gray 300 */
    background-color: var(--clr-gry-300);
  }
  .bkg-gry-400 {
    /* Background Gray 400 */
    background-color: var(--clr-gry-400);
  }
  .bkg-gry-500 {
    /* Background Gray 500 */
    background-color: var(--clr-gry-500);
  }
  .bkg-gry-600 {
    /* Background Gray 600 */
    background-color: var(--clr-gry-600);
  }
  .bkg-gry-700 {
    /* Background Gray 700 */
    background-color: var(--clr-gry-700);
  }
  .bkg-gry-800 {
    /* Background Gray 800 */
    background-color: var(--clr-gry-800);
  }
  .bkg-gry-900 {
    /* Background Gray 900 */
    background-color: var(--clr-gry-900);
  }
  .bkg-blk {
    /* Background Black */
    background-color: var(--clr-blk);
  }

  /* --- Background UI Element Colors ----------------------------------------------------- */

  .bkg-body {
    /* Background Body */
    background-color: var(--clr-bck-body);
  }
  .bkg-elm {
    /* Background Element */
    background-color: var(--clr-bck-elm);
  }
  .bkg-elm-alt {
    /* Background Element Alternate */
    background-color: var(--clr-bck-elm-alt);
  }
  .bkg-none {
    background-color: transparent;
  }

  /* -------------------------------------------------------------------------- */
  /*  2. TEXT COLOR UTILITIES                                                   */
  /*  Classes to set text colors. e.g., .txt-prm, .txt-gry-600       */
  /* -------------------------------------------------------------------------- */

  /* --- Base Text colors - (Base / Main, Fade, Muted, Disabled, Link) --- */
  .txt-light {
    /* Main (Base) Text Color */
    color: var(--clr-txt-light);
  }
  .txt-dark {
    /* Secondary (Fade) Text Color */
    color: var(--clr-txt-dark);
  }
  .txt-muted {
    /* Muted Text Color */
    color: var(--clr-txt-muted);
  }
  .txt-disabled {
    /* Disabled Text Color */
    color: var(--clr-txt-disabled);
  }
  .txt-link {
    /* Link Text Color */
    color: var(--clr-txt-link);
  }
  .txt-link:hover {
    /* Link Text on hover */
    color: var(--clr-txt-link-hover);
  }

  /* --- Brand Text Colors --- */
  .txt-prm {
    /* Primary (Brand) Text Color */
    color: var(--clr-prm);
  }
  .txt-sec {
    /* Secondary (Brand) Text Color */
    color: var(--clr-sec);
  }
  .txt-acc {
    /* Accent Text Color */
    color: var(--clr-acc);
  }
  .txt-sxs {
    /* Success Text Color */
    color: var(--clr-sxs);
  }
  .txt-wrn {
    /* Warning Text Color */
    color: var(--clr-wrn);
  }
  .txt-dng {
    /* Danger Text Color */
    color: var(--clr-dng);
  }
  .txt-inf {
    /* Info Text Color */
    color: var(--clr-inf);
  }

  /* --- Grayscale Text Colors --- */
  .txt-wht {
    /* White Text Color */
    color: var(--clr-wht);
  }
  .txt-gry-50 {
    /* Gray 50 Text Color */
    color: var(--clr-gry-50);
  }
  .txt-gry-100 {
    /* Gray 100 Text Color */
    color: var(--clr-gry-100);
  }
  .txt-gry-200 {
    /* Gray 200 Text Color */
    color: var(--clr-gry-200);
  }
  .txt-gry-300 {
    /* Gray 300 Text Color */
    color: var(--clr-gry-300);
  }
  .txt-gry-400 {
    /* Gray 400 Text Color */
    color: var(--clr-gry-400);
  }
  .txt-gry-500 {
    /* Gray 500 Text Color */
    color: var(--clr-gry-500);
  }
  .txt-gry-600 {
    /* Gray 600 Text Color */
    color: var(--clr-gry-600);
  }
  .txt-gry-700 {
    /* Gray 700 Text Color */
    color: var(--clr-gry-700);
  }
  .txt-gry-800 {
    /* Gray 800 Text Color */
    color: var(--clr-gry-800);
  }
  .txt-gry-900 {
    /* Gray 900 Text Color */
    color: var(--clr-gry-900);
  }
  .txt-blk {
    /* Black Text Color */
    color: var(--clr-blk);
  }
  .txt-none {
    /* No Text Color */
    color: transparent;
  }
}
