.app-wrapper {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  min-height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  .nav-app,
  .nav-auth {
    display: flex;
    gap: 2rem;
    padding: 0;
  }

  .nav-app :first-child {
    margin-right: auto;
  }
}

.form-auth {
  .form-instructions {
    margin-bottom: 1.5rem;
  }

  .btn-auth {
    margin: auto;
  }

  .btn-auth-sign-up {
    padding-inline: 5rem;
  }
}

.form-auth-recovery {
  width: 400px;
}

.form-container {
  position: relative;

  .form-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: var(--clr-prm);
    font-size: 3rem;
  }

  .form-spinner svg {
    animation: spin 1s linear infinite;
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.auth-progress {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

  .auth-phase-box {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .auth-phase {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      color: var(--clr-txt-drk);
      border-radius: 50%;
      border: 1px solid var(--clr-brd);
      font-size: 1rem;
      font-weight: bold;

      &.phse-active {
        background-color: var(--clr-brd);
      }
    }
  }
}
